bar-list = ["bar1"];

bar1:{
	font: "terminusmod, FontAwesome Bold 10";
	block-list: ["ya_workspace", "ya_cpu", "ya_thermal", "ya_mem", "pacmandisplay", "ya_date"];
	position: "top";
	gap-horizontal: 25; 		#width in pixels
	gap-vertical: 22; 		#width in pixels
	height: 25; 			#height
	background-color-argb: 0x0;
	underline-size: 2;
	overline-size: 2;
	slack-size: 5;
	ya_date:{
		exec: "YABAR_DATE";
		align: "center";
		fixed-size: 135;
		interval: 2;
		background-color-rgb:0xad4333;
		internal-prefix: " ";
		internal-option1: "%a %d %b, %I:%M";
	}
	ya_mem:{
		exec: "YABAR_MEMORY";
		align: "center";
		fixed-size: 70;
		interval: 1;
		background-color-rgb:0xe16f31;
		internal-prefix: " ";
	}
	ya_thermal: {
		exec: "YABAR_THERMAL";
		align: "center";
		fixed-size: 50;
		interval: 1;
		background-color-rgb:0xd65f34;
		internal-option1: "thermal_zone0"; #Get NAME from /sys/class/NAME/temp
		internal-prefix: " ";
	}
    pacmandisplay:{
        exec: "upd='  ' && upd+=$(pacman -Qu | wc -l) && echo $upd";
        type: "periodic";
        align: "center";
        fixed-size: 50;
        interval: 120;
        background-color-rgb:0xd65f34;
    }
	ya_cpu: {
		exec: "YABAR_CPU";
		align: "center";
		fixed-size: 70;
		interval: 1;
		internal-prefix: "  ";
		internal-suffix: "%";
		background-color-rgb:0xd65f34;
	}
    ya_workspace: {
        exec: "YABAR_WORKSPACE";
        align: "center";
        fixed-size: 40;
        internal-option1: "    ";
        background-color-rgb:0xad4333;
    }
}
